<% content_for(:title, 'Sign In') %>

<div class='container'>
  <div id="session_form" class="col-sm-4 col-sm-offset-4">
    <% resource_class.omniauth_providers.each do |provider| %>
      <div class='form-group'>
        <%= link_to "Sign in with #{t(provider, scope: 'devise.providers')}", omniauth_authorize_path(resource_name, provider), class: "btn btn-default #{provider} omniauth-button" %>
      </div>
    <% end %>
    <div class='divider'>
      <span> or </span>
    </div>
    <%= simple_form_for(resource, as: resource_name, url: user_session_path) do |f| %>
      <div class='form-inputs'>
        <%= f.input :email, required: false, autofocus: true, label: false, placeholder: 'Email Address' %>
        <%= f.input :password, required: false, label: false, placeholder: 'Password' %>
        <% if EhjobAuthentication.config.hr?  %>
          <div>
            <%= link_to "Don't have an account? Create one now.", main_app.signup_free_trial_path %>
          </div>
        <% end %>
        <div class='forgot-password'>
          <%= link_to "I've forgotten my password", new_user_password_path %>
        </div>
        <p class='disclaimer'>
          By signing up, I agree to Employment Hero's Terms of Service and Privacy Policy
        </p>
      </div>
      <div class='form-actions'>
        <%= f.button :submit, "Sign in", class: 'sign-in-button btn btn-primary btn-green', id: 'sign_in' %>
      </div>
    <% end %>
  </div>
</div>
